<header>
    <div class="container">
        <div class="header__top" id="#main">
            <div class="header__logo">
                <img src="../../assets/img/logo.jpg" height="145px" alt="">
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="#main">ГЛАВНАЯ</a>
                    </li>
                    <li>
                        <a href="#features">ПОРТФОЛИО</a>
                    </li>
                    <li>
                        <a href="#contacts">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>
            <div class="languages">
                <ul>
                    <li><a href="#">EN</a></li>
                    <li><a href="#">RU</a></li>
                </ul>
            </div>
        </div>
        <div class="header__content">
            <div class="header__content-about-us">
                <h1>НАШЕ ВНИМАНИЕ К ДЕТАЛЯМ</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <a href="#">Связаться</a>
            </div>
            <div class="header__content-video">
                <div class="header__content-video-inner"></div>
            </div>
        </div>
    </div>
</header>