<header>
    <div class="container">
        <div class="header__top" id="#main">
            <div class="header__logo">
                <!-- <img src="../../assets/img/logo.png" height="145px" alt=""> -->
                <h1>DREVKA</h1>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="#main">ГЛАВНАЯ</a>
                    </li>
                    <li>
                        <a href="#features">О НАС</a>
                    </li>
                    <li>
                        <a href="#portfolio">ПОРТФОЛИО</a>
                    </li>
                    <li>
                        <a href="#contacts">КОНТАКТЫ</a>
                    </li>
                </ul>
            </nav>
            <div class="languages">
                <ul>
                    <li><a href="#">EN</a></li>
                    <li><a href="#">RU</a></li>
                </ul>
            </div>
        </div>
        <div class="header__content">
            <div class="header__content-about-us">
                <h1>ВНИМАНИЕ К ДЕТАЛЯМ</h1>
                <p>В исклюительном внимании рождается качество. Так можно охарактеризовать нашу работу. Каждая деталь наших изделий внимательно прорабатывается и бережно изготавливается.</p>
                <!-- Результат нашей работы это благодарность и доверие наших заказчиков. -->
                <a href="#contacts">Связаться</a>
            </div>
            <!-- <div class="header__content-video">
                <div class="header__content-video-inner"></div>
            </div> -->
            <div class="header__content__image">
                <!-- <img width="100%" height="100%" src="../../assets/img/wine-box.jpg" alt=""> -->
            </div>
        </div>
    </div>
</header>