<footer class="footer">
    <div class="contact-us" id="contacts">
        <div class="contact-us__header">
            <div class="contact-us__header__top">
                НАШИ КОНТАКТЫ
            </div>
            <div class="contact-us__header__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil assumenda ipsam minus? Beatae ducimus itaque deleniti iure temporibus quam exercitationem adipisci, officia corporis non perspiciatis repellat, illum ab sit deserunt.
            </div>
        </div>
        <div class="contact-us__content">
            <div class="contact-us__contacts">
                <div class="contact-us__item">
                    <div class="contact-us__icon">
                        <a class="icon-instagram" href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa"></a>
                    </div>
                    <div class="contact-us__icon__description">
                        <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">shpil.by</a>    
                    </div>
                </div>
                <div class="contact-us__item">
                    <div class="contact-us__icon">
                        <a class="icon-phone" href="tel:375444963027"></a>
                    </div>
                    <div class="contact-us__icon__description">
                        <a href="tel:375444963027">+375 (44) 496 30 27</a>                    
                    </div>
                </div>
                <div class="contact-us__item">
                    <div class="contact-us__icon">
                        <a class="icon-envelope-o" href="#"></a>
                    </div>
                    <div class="contact-us__icon__description">
                        <a href="#">your@email.com</a>      
                    </div>
                </div>
                <div class="contact-us__item">
                    <div class="contact-us__icon">
                        <a class="icon-vk" href="#"></a>
                    </div>
                    <div class="contact-us__icon__description">
                        <a href="#">www.vk/your__vk.com</a>      
                    </div>
                </div>                
                <div class="contact-us__item">
                    <div class="contact-us__icon">
                        <a class="icon-telegram" href="tg://resolve?domain=kremkoilya"></a>
                    </div>
                    <div class="contact-us__icon__description">
                        <a href="tg://resolve?domain=kremkoilya">+375 (44) 496 30 27</a>      
                    </div>
                </div>      
            </div>
            <div class="contact-us__logo">
                <div class="contact-us__logo-inner">
                    <img width="300px" src="../../assets/img/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>