<div class="container">
    <div class="features" id="features">
        <div class="features__description">
            <h1>ЧТО МЫ МОЖЕМ ВАМ ПРЕДЛОЖИТЬ?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>         
        </div>
        <div class="features__items">
            <div class="feature__item">
                <div class="feature__item__icon icon-heart"></div>
                <div class="feature__item__header">Индивидуальность</div>
                <div class="feature__item__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo culpa id deserunt sit quidem rem corporis blanditiis, nisi aperiam autem sapiente aspernatur.
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__item__icon icon-pencil"></div>
                <div class="feature__item__header">Ручная работа</div>
                <div class="feature__item__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum accusantium eum ipsam harum soluta ut consequatur laudantium asperiores vero.
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__item__icon icon-diamond"></div>
                <div class="feature__item__header">Экологиность</div>
                <div class="feature__item__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nisi dolorem, eaque dicta corrupti hic asperiores similique iusto laudantium pariatur.
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__item__icon icon-cubes"></div>
                <div class="feature__item__header">Доставка</div>
                <div class="feature__item__description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, odio voluptate architecto magnam rem eum iusto? Ipsam nisi quam dolore odio.
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio" id="portfolio">
        <div class="portfolio__header">
            <div class="portfolio__header__top">
                НАША ПРОДУКЦИЯ
            </div>
            <div class="portfolio__header__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
        <div class="portfolio__content">
            <div class="portfolio__item">
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/106814167_3193800624044278_1132736470688309463_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=hruOfixmyzoAX91FR0O&_nc_tp=15&oh=8ce1e6c05168159a11c52f600744ac6e&oe=5F8A85B8" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/78776327_2067483800021775_8299851437424988719_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=103&_nc_ohc=eUAe34iAqioAX8SOsa-&oh=f50b4b4246db84f803ae71a1508d1904&oe=5F8D1FDE" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">                
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/83394979_2484704435112861_4795592015561923487_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=109&_nc_ohc=uxxd8pp_HtMAX8PrvcX&_nc_tp=15&oh=bbe21be9d73866ee6535f4b04b332fce&oe=5F89E729" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">                
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/46763664_1207328622741581_4973406054669792004_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=x5yVoP-xg84AX_AbT_5&oh=1e12cbf70494286453825f5e63a221de&oe=5F8DA398" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">                
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/110010159_175617443952416_8155300839110992483_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=7cNRaY0-gjEAX9t8Pnt&oh=a2a59dc44e582630e7379bffa0e5c1ce&oe=5F8C7ACE" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">                
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/46307305_365334250697515_2702779134803812777_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=Lupbi4YpCRMAX_pCjSC&oh=972bb876360a96b4487b5f5d0fca49fd&oe=5F8CD1E3" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">                
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/90356423_601362753786249_5798422042545173582_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=109&_nc_ohc=fUdDj6UUOHgAX8P6JTR&oh=d8e4468d3cbfa2122b5e5d5d52993a09&oe=5F8D845F" alt="">
                    </a>
                </div>
            </div>
            <div class="portfolio__item">                
                <div class="portfolio__item__inner">
                    <a href="https://instagram.com/shpil.by?igshid=rthqxm7crmfa">
                        <img style="width:100%;" src="https://scontent-waw1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/60064782_142247050250819_8521825788239947053_n.jpg?_nc_ht=scontent-waw1-1.cdninstagram.com&_nc_cat=111&_nc_ohc=t7QVHmvlSxwAX85Eud1&oh=9e16813ca0792cd1097b095f92e160f3&oe=5F8B560C" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>