@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?4dfyjc');
    src:  url('assets/fonts/icomoon.eot?4dfyjc#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?4dfyjc') format('truetype'),
      url('assets/fonts/icomoon.woff?4dfyjc') format('woff'),
      url('assets/fonts/icomoon.svg?4dfyjc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.icon-envelope-o:before {
    content: "\f003";
  }
  .icon-heart:before {
    content: "\f004";
  }
  .icon-pencil:before {
    content: "\f040";
  }
  .icon-phone:before {
    content: "\f095";
  }
  .icon-instagram:before {
    content: "\f16d";
  }
  .icon-vk:before {
    content: "\f189";
  }
  .icon-cubes:before {
    content: "\f1b3";
  }
  .icon-diamond:before {
    content: "\f219";
  }
  .icon-telegram:before {
    content: "\f2c6";
  }
  
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 15px;    
}

.container-outer{
    background-color: #000;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0; 
}

header{
    background-color: #000;
    color: #bea97c;
}
/* .header__logo{
    max-height: 145px;
} */
.header__logo a h1{
    letter-spacing: 10px;
    font-size: 42px;
    color: #bea97c;
}

.header__top{
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    background-color: #000;
    width: 100%;
}

.header__top__inner{
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    align-items: center;
}

.header__top li{
    display: inline-block;    
}

.menu a{
    color: #bea97c;
    border: 1px solid transparent;
    padding: 20px 25px;
    transition: all .3s;
}

.menu li+li{
    margin-left: 15px;
}

.menu a:hover{
    border-color: #bea97c;
}

.languages a{
    color: #bea97c;
    border: 1px solid transparent;
    padding: 20px 25px;
    transition: all .3s;
}

.languages li+li{
    margin-left: 5px;
}

.languages a:hover{
    border-color: #bea97c;
}

.header__content{
    display: flex;
    justify-content: space-between;
    padding: 220px 0px 110px;
    max-width: 1250px;
    width: 100%;
}

.burger__menu{
    display: none;
}

.header__content-about-us{
    max-width: 700px;
}

.header__content-about-us h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
    margin: 0;
    line-height: 65px;
}

/* .header__content-about-us h1+h1{    
    letter-spacing: 10px;
    margin-top: 28px;
} */

.header__content-about-us p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9a9898;
    margin: 30px 0px 0px;
    max-width: 500px;
    line-height: 30px;
}

.header__content-about-us a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #000;
    width: 227px;
    height: 55px;
    background-color: #bea97c;
    border-radius: 5px;
    margin-top: 63px;
    text-align: center;
    line-height: 55px;
}

.header__content-about-us a:hover{
    box-shadow: inset 0px 0px 1px 1px #000;
    text-decoration: underline;
}

/* .header__content-video{
    width: 550px;
    height: 365px;
    background-color: #c4c0b1;
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content-video:before{
    content: "\ea15";
    font-family: "icomoon";
    position: absolute;
    color: #fff;
    font-size: 65px;
}

.header__content-video-inner{
    width: 550px;
    height: 365px;
    background-color: #c4c0b1;
} */

/* 550*355 */

.header__content__image{
    background-image: url(../src/assets/img/table-box.jpg);
    max-width: 500px;
    width: 100%;
    background-size: 100%;
    opacity: 0.3;
    box-shadow: inset 0px 0px 20px 20px #000;
}

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #bea97c;
    padding: 0px 0px 55px;
}

.features__top{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.features__description{
    max-width: 600px;
    max-height: 540px;
    padding: 110px 100px 110px;
    background-color: #bea97c;
    margin-top: -35px;
}

.features__description h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    color: #000;
}

.features__description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 30px 0px 0px;
    max-width: 500px;
    line-height: 30px;
}

.features__image{
    max-width: 600px;
    width: 100%;
    background-size: 100%;
    margin-top: 140px;
}

.features__content{
    padding-top: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.features__content__items{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding-bottom: 50px;
}

.features__items{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 650px;
    background-color: #bea97c;
    padding: 50px 10px 10px 40px;
}

.features__items-top{
    margin-top: -150px;
    margin-left: -20px;
}

.features__items-bottom{
    margin-bottom: -150px;
}

.features__content__decoration{
    max-width: 600px;
    margin-top: 80px;
}

.features__content__decoration-v{
    max-width: 600px;
    margin-top: 80px;
    margin-right: 200px;
    display: flex;
}

.feature__item{
    max-width: 280px;
    padding: 0px 20px 23px 20px;
    color: #000;
}

.feature__item__icon{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    font-size: 40px;
    color: #000;
}

.feature__item__header{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.feature__item__description{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.decoration__line-long{
    border-top: 3px solid #bea97c;
    width: 300px;
    margin-bottom: 30px;
}

.decoration__line-medium{
    border-top: 2px solid #bea97c;
    width: 200px;
    margin-bottom: 20px;
}

.decoration__line-short{
    border-top: 1px solid #bea97c;
    width: 100px;
    margin-bottom: 10px;
}

.decoration__line-long-v{
    border-left: 3px solid #bea97c;
    height: 300px;
    margin-right: 30px;
}

.decoration__line-medium-v{
    border-left: 2px solid #bea97c;
    height: 200px;
    margin-right: 20px;
}

.decoration__line-short-v{
    border-left: 1px solid #bea97c;
    height: 100px;
    margin-right: 10px;
}

.portfolio{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0px 110px;
}

.portfolio__header{
    color: #bea97c;
}

.portfolio__header__top{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 30px;
}

.portfolio__header__description{
    text-align: center;
    max-width: 500px;
    line-height: 25px;
    font-size: 16px;
}

.portfolio__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 70px;
}


.portfolio__item{
    width: 300px;
    height: 300px;
    display: flex;
    margin-bottom: 23px;
}

.portfolio__item__inner{
    background-color: #e0e0e0;
    width: 293px;
    height: 293px;
    transition: .3s;
}

.portfolio__item__inner:hover{
    cursor: pointer;
    width: 299px;
    height: 299px;
}

.contact-us{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #bea97c;
    padding: 30px;
    margin-top: -100px;
}

.contact-us__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #000;
    /* padding: 10px 20px; */
}

.contact-us__header__top{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact-us__header__description{
    max-width: 715px;
    line-height: 25px;
    font-size: 16px;
}

.contact-us__content{
    width: 100%;
    display: flex;
    margin-top: 60px;
    color: #000;
}

.contact-us__contacts{
    max-width: 500px;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.contact-us__item{
    display: flex;
    align-content: center;
    margin-top: 15px;
}

.contact-us__icon{
    font-size: 32px;
    margin-right: 20px;
}

.contact-us__icon__description{
    font-size: 22px;
}

.contact-us__icon__description a{
    color: #000;
}

.contact-us__icon a{
    color: #000;
}

.contact-us__telephone{
    padding-bottom: 30px;
}

.contact-us__telephone a{
    color: #fff;
}

.contact-us__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    width:100%;
    
    letter-spacing: 10px;
    font-size: 42px;
    color: #000;
}

.footer{
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;
}

.social__links{
    display: flex;   
    align-items: center; 
}

.social__link{
    font-size: 30px;
    padding-right: 20px;
}

.social__link a{
    color: #000;
}

@media screen and (max-width: 989px){
    .header__top__inner{
        justify-content: space-between;
    }

    .menu{
        display: none;
    }

    .languages {
        display: none;
    }

    .burger__menu{
        display: block;
    }
}

@media screen and (max-width: 1230px){
    .header__content{
        flex-direction: column;
        align-items: center;
    }

    .header__content__image{
        height: 300px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px){
    .header__content-about-us h1{
        font-size: 32px;
        letter-spacing: 2px;
        line-height: 45px;
    }

    
    .header__logo a h1{
        letter-spacing: 3px;
        font-size: 22px;
        color: #bea97c;
    }
}
